@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.credits,
.settings,
.statistics,
.tasks {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.home {
  display: flex;
  height: 30vh;
  align-items: center;
  justify-content: center;
  background-color: darkorange;
  height: 100vh;
}
